@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 0 0% 100%;
    --slate-50: 210 40% 98%;
    --slate-100: 210 40% 96.1%;
    --slate-200: 214.3 31.8% 91.4%;
    --slate-400: 215 20.2% 65.1%;
    --slate-500: 215.4 16.3% 46.9%;
    --slate-600: 215.3 19.3% 34.5%;
    --slate-700: 215.3 25% 26.7%;
    --slate-800: 217.2 32.6% 17.5%;
    --slate-900: 222.2 47.4% 11.2%;

    --background: var(--white);
    --foreground: var(--slate-900);

    --muted: var(--slate-100);
    --muted-foreground: var(--slate-500);

    --popover: var(--white);
    --popover-foreground: var(--slate-900);

    --card: var(--white);
    --card-opacity: 0.5;
    --card-foreground: var(--slate-900);
    --card-border: var(--white);
    --card-border-opacity: 0.9;

    --border: var(--slate-200);
    --input: var(--slate-200);

    --primary: var(--slate-900);
    --primary-foreground: var(--slate-50);

    --secondary: var(--slate-100);
    --secondary-foreground: var(--slate-900);

    --accent: var(--slate-200);
    --accent-foreground: var(--slate-900);

    --danger: 0 100% 50%;
    --danger-foreground: var(--slate-50);

    --ring: var(--slate-400);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--slate-900);
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: var(--slate-400);

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --card-border: var(--slate-400);
    --card-border-opacity: 0.2;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: var(--slate-50);
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: var(--slate-900);
    --secondary-foreground: var(--slate-50);

    --accent: 216 34% 17%;
    --accent-foreground: var(--slate-50);

    --danger: 0 63% 31%;
    --danger-foreground: var(--slate-50);

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  a {
    @apply text-primary underline-offset-4 hover:underline font-medium;
  }
}

@layer components {}

@layer utilities {}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.tilt {
  transform: translateZ(10px) scale(0.96);
}
