---
import Logo from '~/components/common/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import { getHomePermalink } from '~/utils/permalinks';
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-100" id="header">
  <div class="py-2.5 px-3 mx-auto w-full flex justify-between max-w-6xl">
    <a class="flex items-center" href={getHomePermalink()}>
      <Logo />
    </a>
    <ToggleTheme />
  </div>
</header>
