---
import { Image } from '@astrojs/image/components';
import imgProfile from '~/assets/images/professional_256.jpg';
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
        <Image class="mx-auto rounded-full mb-6" src={imgProfile} alt="Profile picture" />
        <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading">
          Hello
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl font-medium text-gray-500 mb-8 dark:text-slate-400">
            Welcome to the personal website of Justin Williams
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
